<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- ng-app指令指明了应用, ng-controller 指明了控制器。 -->
    <div ng-app="myApp" ng-controller="myCtrl">
        名：<input type="text" ng-model="firstName">
        姓：<input type="text" ng-model="lastName">
        <br>
        姓名：{{firstName + " " + lastName}}
    </div>
</body>
<script src="https://cdn.staticfile.org/angular.js/1.4.6/angular.min.js"></script>

<script>
    // AngularJS 模块（Module） 定义了 AngularJS 应用。
    var app = angular.module('myApp',[]);
    // AngularJS 控制器（Controller） 用于控制 AngularJS 应用。
    app.controller('myCtrl',function($scope){

        
        console.log($scope.firstName);
        $scope.firstName = "John";
        $scope.lastName = "Doe";
    })
</script>

</html>